.projectsContainer {
    height: 200vh;
    overflow-x: hidden;
}

.horizontal {

    h1 {
        font-family: 'Roslindale Display Condensed';
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.projectsText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
}