.container {
    width: 100%;
    height: 400vh;
    background: #0e090d;
}

.cards {
    position: relative;
    width: 100vw;
    height: 100vh;
    
}

.svgContainer {
    position: absolute;
}

svg {
    width: 100%;
}