@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(150px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scrollTextAnimation {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.skills {
    height: 160vh;

    @media (max-width: 376px) {
        height: 200vh !important;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

.scroll {
    position: relative;
    top: 180px;
    overflow: hidden;
    display: flex;
    text-transform: uppercase;
    z-index: 0;
    user-select: none;
}

.scroll ul {
    list-style: none;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll 15s linear infinite;
}

.text {
    background-clip: text;
    color: #0e2560;
    font-weight: 400;
    font-size: 18rem;
    font-family: 'Adoretta Holland Serif', sans-serif;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.text.visible {
    opacity: 1;
    transform: translateX(0);
    animation: scrollTextAnimation 1s ease-in-out forwards;
}

@keyframes scroll {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpWithDelay {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.skills-columns {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    flex-wrap: wrap;
}

.skills-column {
    color: white;
    flex: 1;
    border: 4px solid white;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    opacity: 0;

}

.skills-column.visible {
    animation: fadeInUpWithDelay 1s ease-out forwards;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;

}

.skills-column:nth-child(1) {
    animation-delay: 0.2s;
    
}

.skills-column:nth-child(2) {
    animation-delay: 0.4s;
}

.skills-column:nth-child(3) {
    animation-delay: 0.6s;
}

.skills-column:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
    
}


.skills-column h2 {
    margin-bottom: 20px;
}

.skills-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills-column li {
    font-size: 1.5rem;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.skills-column img {
    width: 20px;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .skills-columns {
        flex-direction: column;
        gap: 40px;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1350px) {
    .text {
        font-size: 15rem;
    }
}

@media (max-width: 1170px) {
    .text {
        font-size: 12rem;
    }

    .scroll {
        top: 130px;
    }
}

@media (max-width: 920px) {
    .text {
        font-size: 10rem;
    }
    
    .scroll {
        top: 110px;
    }
}

@media (max-width: 770px) {
    .text {
        font-size: 8rem;
    }
    
    .scroll {
        top: 90px;
    }

}


@media (max-width: 768px) {
    .skills {
        height: 170vh;
    }

    .skills-column:hover {
        background-color: transparent;
        color: white;
        transform: none !important;
        cursor: default;
    }

    .skills-column img {
        filter: none;
    }
}

@media (max-width: 610px) {
    .text {
        font-size: 6rem;
    }

    .scroll {
        top: 70px;
    }
  
  }

  @media (max-width: 450px) {
    .text {
        font-size: 5rem;
    }

    .scroll {
        top: 50px;
    }
  
  }

  @media (max-width: 450px) {
    .text {
        font-size: 4rem;
    }

  }

  @media (min-height: 800px) {
    .skills {
      height: 120vh;
    }
  }
  
  @media (min-height: 980px) {
    .skills {
      height: 100vh;
    }
  }