.paragraph{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    font-size: 75px;
    font-weight: 600;
    color: white;

    .word{
      position: relative;
      margin-right: 12px;
      margin-top: 12px;

      .shadow{
        position: absolute;
        opacity: 20%;
      }
    }
  }

  .highlight {
    color: red;
  }
  