.mainStartDiv {
    position: relative;
    height: 200vh;
}

.startDiv {
    position: sticky;
    top: 0;
    z-index: -1;
    background: #000;

}

.greetingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: difference;
    
}

.greetingDiv p {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.1rem;
    animation: slideInTop 1s ease-out forwards;
    margin: 0 auto;

}

.greetingDiv h1 {
    color: white;
    font-size: 6rem;
    animation: slideInBottom 3s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .greetingDiv {
        height: 87vh;
    }
}

@media (max-width: 720px) {
    .greetingDiv h1 {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    .greetingDiv h1 {
        font-size: 2rem;
    }

    .greetingDiv p {
        font-size: 0.6rem;
    }
}

.textUnderStart {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e090d;
}

.magneticBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    background-color: white;
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 0px;
    right: 460px;
    font-size: 20px;

    p {
        color: black;
        font-size: 28px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }

    &:hover {
        background-color: rgb(173, 170, 170);
        transition: 0.3s ease;
    }
}