.greetingDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
    z-index: 100;
    mix-blend-mode: difference;
    background: #0e090d;

}

.greetingDiv p {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 0.8rem;
    animation: slideInTop 1s ease-out forwards;
    margin: 0 auto;

}

.greetingDiv h1 {
    color: white;
    font-size: 5rem;
    animation: slideInBottom 3s ease-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes slideInBottom {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInTop {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    50% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .greetingDiv {
        height: 87vh;
    }
}

@media (max-width: 720px) {
    .greetingDiv h1 {
        font-size: 3rem;
    }
}

@media (max-width: 450px) {
    .greetingDiv h1 {
        font-size: 2rem;
    }

    .greetingDiv p {
        font-size: 0.6rem;
    }
}

.textUnderStart {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 32, 32);
}
  
  .textUnderStart p {
    font-size: 4.5rem;
    font-weight: 600;
    color: white;
  }

  .textUnderStart span {
    color: #c9fd74;
  }