body {
    cursor: none;
    background-color: hsla(229, 100%, 50%, 1);
    background-image:
        radial-gradient(at 40% 20%, hsla(340, 100%, 0%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(240, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(240, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 50%, hsla(340, 100%, 0%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(240, 100%, 50%, 1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(0, 0%, 0%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 0%, hsla(0, 100%, 0%, 1) 0px, transparent 50%);
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: 200% 200%;
    overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}


.scrollable-content {
    overflow-y: auto; 
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    padding-right: 15px;
    box-sizing: content-box;
    scrollbar-width: none;
    transition: background-color 0.5s ease;

  }
  
  .scrollable-content::-webkit-scrollbar {
    display: none;
  }
  
  .scroll-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

@keyframes noise {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    20% { transform: translate(-15%, 5%); }
    30% { transform: translate(7%, -25%); }
    40% { transform: translate(-5%, 25%); }
    50% { transform: translate(-15%, 10%); }
    60% { transform: translate(15%, 0%); }
    70% { transform: translate(0%, 15%); }
    80% { transform: translate(3%, 35%); }
    90% { transform: translate(-10%, 10%); }
}

body::before {
    content: '';
    position: fixed;
    height: 400%;
    width: 400%;
    top: -200%;
    left: -200%;
    background-image: url('http://momentsingraphics.de/Media/BlueNoise/WhiteNoiseDithering.png');
    opacity: 0.05;
    pointer-events: none;
    user-select: none;
    z-index: 0;
    animation: noise 8s steps(10) infinite;
}

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  mix-blend-mode: difference;
  opacity: 0;
}

.custom-cursor-navbar-hover {
  background-color: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 60px;
  position: fixed;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
}

.custom-cursor-projects-hover {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  position: fixed;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: colorChange 0.8s forwards;
  transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease, font-size 0.3s ease;
}

@keyframes colorChange {
  0% {
    color: transparent;
  }
  100% {
    color: white;
  }
}

.custom-cursor-projects-hover::before {
  content: "LIVE DEMO";
  pointer-events: none;
}

@media (max-width: 1024px) {
  .custom-cursor {
    display: none;
  }

  .custom-cursor-navbar-hover {
    display: none;
  }

  .custom-cursor-projects-hover {
    display: none;
  }

  body {
    cursor: auto;
  }
}
