.contacts {
    text-align: center;
    color: white;
    height: 100vh;
    background: #000;
}

.contactsScroll {
    overflow: hidden;
    display: flex;
    text-transform: uppercase;
    z-index: 0;
    position: absolute;
    top: -130px;
}

.contactsScroll ul {
    list-style: none;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    100% {
        transform: translateX(-100%);
    }
}

.contaxtsScrollText {
    background-clip: text;
    color: white;
    font-weight: 400;
    font-size: 15rem;
    font-family: 'Adoretta Holland Serif', sans-serif;
}

.item a, .item button {
    background-color: white;
    color: black;
    border-radius: 50px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 60px;
}

.item img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
}

.item a:hover, .item button:hover {
    background-color: #c1c1c1;
    transform: scale(1.05);
}

.contact {
  height: 100vh;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    h1 {
      font-size: 100px;
      line-height: 88px;
      color: white;

    }

    h2 {
        color: white;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    .phoneSvg {
      stroke: white;
      position: absolute;
      margin: auto;
      z-index: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      input,
      textarea {
        z-index: 9;
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
        resize: none;

      }

      button {
        z-index: 10;
        padding: 20px;
        font-size: 20px;
        border: none;
        background-color: rgb(255, 255, 255);
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease, transform 0.3s ease;
        
        &:hover {
            background-color: #c1c1c1;
        }
      }
    }
  }
}