.footer {
    padding: 2rem 0;
    text-align: center;
    color: white;
    height: 80vh;
    margin-top: 100px;
}

.footer-content {
    margin: 0 auto;
}

.footerScroll {
    overflow: hidden;
    display: flex;
    text-transform: uppercase;
    z-index: 0;
    user-select: none;
}

.footerScroll ul {
    list-style: none;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: scroll 15s linear infinite;
}

.footerScrollText {
    background-clip: text;
    color: white;
    font-weight: 400;
    font-size: 15rem;
    font-family: 'Adoretta Holland Serif', sans-serif;
}

.contact-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.contact-icons a, .contact-icons button {
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 60px;
    cursor: none;

    @media (max-width: 1024px) {
        cursor: pointer;
    }
}

.contact-icons img {
    width: 25px;
    margin-right: 15px;
}

.contact-icons a:hover, .contact-icons button:hover {
    background-color: #c5c1c1;
    transform: scale(1.05);
}

@media (max-width: 1520px) {
    .footerScrollText {
        font-size: 12rem;
    }
}

@media (max-width: 1220px) {
    .footerScrollText {
        font-size: 10rem;
    }
}

@media (max-width: 1100px) {
    .footer {
        height: 70vh;
    }
}

@media (max-width: 990px) {
    .footerScrollText {
        font-size: 8rem;
    }
}

@media (max-width: 800px) {
    .footerScrollText {
        font-size: 7rem;
    }

    .footer {
        height: 50vh;
    }
}

@media (max-width: 700px) {
    .footerScrollText {
        font-size: 6rem;
    }
}

@media (max-width: 610px) {
    .footerScrollText {
        font-size: 4rem;
    }
}

@media (max-width: 550px) {
    .footer {
        margin-top: 200px;
        height: 35vh;
    }
}

@media (max-width: 470px) {
    .contact-icons a, .contact-icons button {
        padding: 10px 20px;
        width: 150px;
    }

    .footer {
        margin-top: 100px;
    }
}

@media (max-width: 400px) {
    .footerScrollText {
        font-size: 3rem;
    }

    .footer {
        margin-top: 50px;
    }
}

@media (max-width: 340px) {
    .contact-icons a, .contact-icons button {
        padding: 7px 17px;
        width: 130px;
        height: 55px;
        font-size: 13px;
    }

    .contact-icons img {
        width: 20px;
    }

    .footer {
        margin-top: 0px;
    }
}